@font-face {
    font-family: "nexonBazzi";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nexonBazzi/nexonBazzi.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nexonBazzi/nexonBazzi.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonBazzi/nexonBazzi.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonBazzi/nexonBazzi.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nexonBazzi/nexonBazzi.ttf") format("truetype");
    font-display: swap;
}
.nexonBazzi {
    font-family: "nexonBazzi";
}